useDynLib(RcppCCTZ, .registration=TRUE)
importFrom("Rcpp", "evalCpp")

#exportPattern("^[[:alpha:]]+")
export("toTz",
       "tzDiff",
       "formatDatetime",
       "parseDatetime",
       "formatDouble",
       "parseDouble",
       #
       "example0",
       "example1",
       "example2",
       "example3",
       "example4",
       "helloMoon",
       "exampleFormat")

